@use "styles/variables.module.scss" as v;

.wrapper {
  padding: 10px 0;
  justify-self: center;
  width: 100%;
  max-width: 1600px;

  &Inner {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
